<!DOCTYPE html>
<html>
<head>
    <title><%=title %></title>
    <meta charset="utf-8" />
</head>
<body>
    <h3>Successfully authenticated!</h3>
    <p>Your oauth access token: <%=access_token %></p>

    <% if (displayName) {%>
        <p>Display name: <%=displayName %></p>
    <%} %>

    <% if (email) {%>
        <p>Email: <%=email %></p>
    <%} %>

    <% if (attributes.length > 0) { %>
        <h3>Possible attribute:</h3>
        <ul>
            <% for(var i=0; i<attributes.length;i++) {%>
                <li><%=attributes[i] %></li>
            <%} %>
        </ul>        
    <%} %>
    
    <% if (orders.length > 0) { %>
        <h3>Order for secret keys:</h3>
        <table>
            <tr>
                <th>Create date</th>
                <th>ID</th>
                <th>Attributes</th>
                <th>Status</th>
            </tr>
            <% for(var i=0; i<orders.length;i++) {%>
                <tr>
                    <td><%=orders[i].create_date %></td>
                    <td><%=orders[i].device %></td>
                    <td><%=orders[i].attributes.join() %></td>
                    <td><%=orders[i].status %></td>
                </tr>
            <%} %>            
        </table>
    <%} %>

    <button onclick='window.location.href="/approvement/new"'>List only new orders</button>
    <button onclick='window.location.href="/user_info"'>User information</button>
    <button onclick='window.location.href="/logout"'>Logout</button>
    <button onclick='window.location.href="/attributes"'>List of attributes</button>
    <button onclick='window.location.href="/approvement"'>List all orders</button>

</body>
</html>